[Unit]
Description=Mail server backup (restic)
After=mariadb.service

[Service]
Type=oneshot
Environment=RESTIC_CACHE_DIR=/var/cache/restic
ExecStart=/usr/local/sbin/mail-backup
Nice=10
IOSchedulingClass=idle
